html{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #775253;
    color: white;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
.header {
    width: 100%;
    display: flex; /* Enables flexbox layout */
    align-items: center; /* Vertically aligns items */
    justify-content: center; /* Centers content */
    gap: 10px; /* Adds spacing between items */
}
.line{
    flex: 1; /* Makes the <hr> stretch to fill available space */
    height: 2px; /* Sets the height of the line */
    width: 100%;
    border: none; /* Removes default border */
    background-color: white; /* Line color */
    opacity: 0.6; /* Line transparency */
}
.main-container{
    max-width: 800px; /* Restricts content width */
    margin: 0 auto; /* Centers the content horizontally */
    padding: 15px;
}
textarea{
    width: 75%;
}
button {
    padding: 10px 20px;
    background-color: #351431;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
.main-container hr{
    height: 2px;
    width: 100%;
    border: none;
    background-color: #351431;
    opacity: 0.6;
}
.input{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}
.result-container{
    margin-top: 30px;
    color: black;
}
.models-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}
.model-container {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    min-height: 290px;
    /* background-color: #fafafa; */
}

.svm-model {
    width: 45%;
    height: 100%;
    color: black;
    background-color: #e3f2fd;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

}

.roberta-model {
    width: 45%;
    color: black;
    background-color: #fff3e0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

}
p{
    margin: 5px;
}