{% extends 'base.html' %}
{% block body %}
    <div class="main-container">
        <div class="description">
            <h2>Welcome to the Sentiment Analyzer! </h2>
            <p>This tool allows you to analyze the sentiment of any text input whether it's determining the overall emotion or detecting sarcasm.</p>   
            <p>Our app uses two models, a Support Vector Machine model (SVM) and a RoBERTa language model to provide a side-by-side comparison into their insights. The SVM outputs a definite sentiment while RoBERTa offers a more nuanced perspective by calculating confidence scores across the sentiment categories.</p>
            <p>Simply input your text and see the results from the two models displayed side-by-side.</p>     
        </div>
        <div class="form-container">
            <form method="POST">
                <textarea name="text" placeholder="What would you like to analyze?"></textarea><br><br>
                <button type="submit">Analyze</button>
            </form>
        </div>
        <hr>
        <div class="=result-container">
            <div class="input">
                {% if text %}
                <p><strong>Input Text:</strong> {{text}}</p>
                {% endif %}
            </div>
            <div class="models-wrapper">
                {% if svm_result %}
                <div class="model-container svm-model">
                    <h3>SVM Model Results:</h3>
                    <p>Sentiment: {{ svm_result }}</p>
                {% endif %}
                </div>
                {% if is_rob %}
                <div class="model-container roberta-model">
                    <h3>RoBERTa Model Results: </h3>
                    <canvas id="pieChart" height="230"></canvas>
                    <script>
                        var robertaData = JSON.parse('{{ roberta_result | safe }}');
                        console.log(robertaData)
                        var ctx = document.getElementById("pieChart")
                        if (robertaData.sentiment_analysis) {
                            var sentimentScores = robertaData.sentiment_analysis;
                            if(robertaData.analysis_type == 'irony'){
                                var ironyScores = robertaData.irony_analysis
                                var labels = Object.keys(ironyScores);
                                var values = Object.values(ironyScores);
                            }else{
                                var labels = Object.keys(sentimentScores);
                                var values = Object.values(sentimentScores);
                            }
                            new Chart(ctx, {
                                type: 'pie',
                                data: {
                                    labels:labels,
                                    datasets: [{
                                        data: values,
                                        backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56'], // Example colors
                                    }]
                                },
                                options: {
                                    responsive: false,
                                    plugins: {
                                        legend: {
                                            onClick: null, //Disable interactivity
                                        }
                                }}
                            });
                        }else {console.error("No sentiment data found in RoBERTa results.");}
                    </script>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}